.root {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #f3f3f3, #555555);
}

.button, .label {
    -fx-font-family: "system";
    -fx-font-size: 14px;
}

.botao-grande {
    -fx-font-size: 18px;
}

.titulo, .titulo-marca-dagua{
    -fx-font-family: "candara";
    -fx-font-size: 50px;
    -fx-text-fill: #4d4d4d;
}
.titulo-marca-dagua {
    -fx-opacity: 30%;
}

.pergunta,
.info-tela {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0.0, 0.0);
}

.info {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.pergunta {
    -fx-font-family: "system";
    -fx-font-size: 24px;
}

.button-resposta {
    -fx-font-size: 18px;
    -fx-max-width: Infinity;
    -fx-width: Infinity;
    -fx-background-radius: 10px;
}

.obsevacao {
    -fx-font-family: "system";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

/* PARTIDA */
.popup-info {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #dddddd, #084cca);
    -fx-background-radius: 10%;
}
.popup-resposta-certa {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #f0f0f0, #0e7500);
    -fx-background-radius: 10%;
}

.popup-resposta-errada {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #f0f0f0, #da0000);
    -fx-background-radius: 10%;
}

.gradient-partida {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #f0f0f0, #011b90);
}


/* TABELA */

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #00000025;
    -fx-font-size: 16px;
}

.table-row-cell:odd {
    -fx-background-color: #00000010;
}

.table-view .scroll-bar,
.table-row-cell:even {
    -fx-background-color: #00000020;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-border: transparent;
}

